* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #F8F8F8;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding-left: 90px;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0 10px;
    padding-left: 95px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding: 0 15px;
    z-index: -2;
  }
}

.sidebar {
  width: 86px;
  height: 100vh;
  padding: 10px 10px;
  transition: margin-left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 20px 20px 0;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 500;
}
.sidebar__btn {
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  width: 20px;
  height: 50px;
  border-radius: 8px;
  background-color: #4339F2;
  position: absolute;
  right: 10px;
  top: calc(50vh - 25px);
  border: none;
}
@media screen and (max-width: 540px) {
  .sidebar__btn {
    display: flex;
  }
}
.sidebar__btn:hover {
  background-color: #000000;
}
.sidebar__btn::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 8px 0;
  border-color: transparent white transparent transparent;
}
@media screen and (max-width: 540px) {
  .sidebar {
    margin-left: -260px;
    width: 260px;
    align-items: baseline;
  }
}

.ic {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}
.ic p {
  font-size: 18px;
  display: none;
  margin-left: 50px;
  white-space: nowrap;
  color: #231F20;
}
@media screen and (max-width: 540px) {
  .ic p {
    display: inline-block;
  }
}

.ic-logo {
  background: url(../images/ic-logo.svg) center no-repeat;
}

.ic-profile {
  background: url(../images/ic-profile.svg) center no-repeat;
}

.ic-cloud_download {
  background: url(../images/ic-cloud_download.svg) center no-repeat;
}

.ic-settings {
  background: url(../images/ic-settings.svg) center no-repeat;
}

.ic-menu_bars {
  background: url(../images/ic-menu_bars.svg) center no-repeat;
}

.ic-logo {
  position: relative;
  margin-bottom: 30px;
}
.ic-logo p {
  font-weight: 700;
  font-size: 30px;
}

.ic-logo::after {
  content: "";
  width: 70px;
  height: 1px;
  display: block;
  background: #000000;
  opacity: 0.2;
  position: absolute;
  bottom: -25px;
  left: -15px;
  pointer-events: none;
}
@media screen and (max-width: 540px) {
  .ic-logo::after {
    left: 0px;
    width: 240px;
  }
}

.logo_title p {
  line-height: 1;
}
.logo_title__head {
  letter-spacing: 5px;
  font-size: 24px !important;
}
.logo_title__bottom {
  font-size: 12px !important;
  word-spacing: 3px;
}

.ic-profile p {
  opacity: 1;
}

.ic-cloud_download {
  opacity: 0.2;
}
.ic-cloud_download:hover {
  opacity: 1;
}

.ic-settings {
  margin-top: auto;
  margin-bottom: 10px;
  opacity: 0.2;
}
.ic-settings:hover {
  opacity: 1;
}

#check {
  display: none;
}

.burger_menu {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .burger_menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.ic-menu_bars {
  width: 30px;
  height: 30px;
  margin: 0;
}

#check:checked ~ .sidebar {
  display: flex;
  margin-left: 0px;
}

#check:checked ~ .burger_menu .ic-menu_bars {
  display: none;
}

.top_raw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
@media screen and (max-width: 540px) {
  .top_raw {
    padding-top: 60px;
    z-index: 1;
  }
}

.search_box {
  width: 100%;
  position: relative;
  padding-left: 33px;
}

.search_box::after {
  content: "";
  width: 27px;
  height: 27px;
  background: url(../images/top_raw/ic-search.svg) center/cover no-repeat;
  position: absolute;
  top: -3px;
  left: 0;
}

.search_line {
  width: 100%;
  position: relative;
  outline: none;
  border: none;
}

.search_line:enabled {
  background: none;
}

.profiles_box {
  display: flex;
  gap: 10px;
}
.profiles_box a {
  line-height: 0;
  width: 44px;
  height: 44px;
}
.profiles_box button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.profiles_box a:nth-child(1) {
  position: relative;
}
.profiles_box a:nth-child(1)::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #34B53A;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}
.profiles_box img {
  width: 100%;
}

.search_line::-webkit-search-cancel-button, .search_line::-webkit-search-decoration, .search_line::-webkit-search-results-button, .search_line::-webkit-search-results-decoration {
  display: none;
}

.search_line::-webkit-search-clear-button {
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

.main_raw {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 540px) {
  .main_raw {
    flex-wrap: wrap;
  }
}
.main_raw__left {
  padding: 0 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 100%;
}
@media screen and (max-width: 540px) {
  .main_raw__left {
    width: 100%;
  }
}
.main_raw__right {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
@media screen and (max-width: 540px) {
  .main_raw__right {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
}

.main__line {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__line a {
  width: 39%;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 540px) {
  .main__line a {
    width: 100%;
  }
}
.main__line img {
  width: 40px;
  height: 40px;
}
.main__line:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main__datetime {
  color: #000000;
  opacity: 40%;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 540px) {
  .main__datetime {
    display: none;
  }
}

.main__price {
  text-align: right;
  width: 95px;
  font-size: 22px;
  font-weight: 500;
}
@media screen and (max-width: 540px) {
  .main__price {
    font-size: 20px;
  }
}

.main_item {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main_item__head {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
.main_item__text {
  color: #000000;
  opacity: 40%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.main_item__bottom {
  margin-top: auto;
  width: 100%;
  display: flex;
  gap: 6px;
}
.main_item__bottom img {
  width: 40px;
  height: 40px;
}
.main_item__bottom button {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
}
.main_item__bottom button:last-child {
  margin-left: auto;
  margin-right: 0;
}
.main_item__tags a {
  color: #000000;
  font-size: 10px;
  text-decoration: none;
  padding: 4px 9px;
  border-radius: 5px;
}
.main_item__list li {
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.main_item__list li p {
  color: #000000;
  opacity: 40%;
  font-size: 14px;
  font-weight: 400;
}
.main_item__list li::before {
  content: "";
  width: 13px;
  height: 13px;
  background: url(../images/main_raw/arrow.svg) center no-repeat;
  position: absolute;
  left: 0;
}/*# sourceMappingURL=style.css.map */