* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #F8F8F8;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding-left: 90px;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding: 0 15px;
    z-index: -2;
  }
}

.sidebar {
  width: 86px;
  height: 100vh;
  padding: 10px 10px;
  transition: margin-left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 20px 20px 0;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 500;
}
.sidebar__btn {
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  width: 20px;
  height: 50px;
  border-radius: 8px;
  background-color: #4339F2;
  position: absolute;
  right: 10px;
  top: calc(50vh - 25px);
  border: none;
}
@media screen and (max-width: 540px) {
  .sidebar__btn {
    display: flex;
  }
}
.sidebar__btn:hover {
  background-color: #000000;
}
@media screen and (max-width: 540px) {
  .sidebar {
    margin-left: -260px;
    width: 260px;
    align-items: baseline;
  }
}

.ic {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}
.ic p {
  font-size: 18px;
  display: none;
  margin-left: 50px;
  white-space: nowrap;
  color: #231F20;
}
@media screen and (max-width: 540px) {
  .ic p {
    display: inline-block;
  }
}

.ic-logo {
  background: url(../images/ic-logo.svg) center no-repeat;
}

.ic-profile {
  background: url(../images/ic-profile.svg) center no-repeat;
}

.ic-cloud_download {
  background: url(../images/ic-cloud_download.svg) center no-repeat;
}

.ic-settings {
  background: url(../images/ic-settings.svg) center no-repeat;
}

.ic-menu_bars {
  background: url(../images/ic-menu_bars.svg) center no-repeat;
}

.ic-logo {
  position: relative;
  margin-bottom: 30px;
}
.ic-logo p {
  font-weight: 700;
  font-size: 30px;
}

.ic-logo::after {
  content: "";
  width: 70px;
  height: 1px;
  display: block;
  background: #000000;
  opacity: 0.2;
  position: absolute;
  bottom: -25px;
  left: -15px;
  pointer-events: none;
}
@media screen and (max-width: 540px) {
  .ic-logo::after {
    left: 0px;
    width: 240px;
  }
}

.logo_title p {
  line-height: 1;
}
.logo_title__head {
  letter-spacing: 5px;
  font-size: 24px !important;
}
.logo_title__bottom {
  font-size: 12px !important;
  word-spacing: 3px;
}

.ic-profile p {
  opacity: 1;
}

.ic-cloud_download {
  opacity: 0.2;
}
.ic-cloud_download:hover {
  opacity: 1;
}

.ic-settings {
  margin-top: auto;
  margin-bottom: 10px;
  opacity: 0.2;
}
.ic-settings:hover {
  opacity: 1;
}

#check {
  display: none;
}

.burger_menu {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .burger_menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.ic-menu_bars {
  width: 30px;
  height: 30px;
  margin: 0;
}

#check:checked ~ .sidebar {
  display: flex;
  margin-left: 0px;
}

#check:checked ~ .burger_menu .ic-menu_bars {
  display: none;
}

.top_raw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
@media screen and (max-width: 540px) {
  .top_raw {
    padding-top: 60px;
    z-index: 1;
  }
}

.search_box {
  width: 100%;
  position: relative;
  padding-left: 33px;
}

.search_box::after {
  content: "";
  width: 27px;
  height: 27px;
  background: url(../images/top_raw/ic-search.svg) center/cover no-repeat;
  position: absolute;
  top: -3px;
  left: 0;
}

.search_line {
  width: 100%;
  position: relative;
  outline: none;
  border: none;
}

.search_line:enabled {
  background: none;
}

.profiles_box {
  display: flex;
  gap: 10px;
}
.profiles_box a {
  line-height: 0;
}
.profiles_box a:nth-child(1) {
  position: relative;
}
.profiles_box a:nth-child(1)::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #34B53A;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}
.profiles_box a:nth-child(4) img {
  width: 44px;
  height: 44px;
}

.search_line::-webkit-search-cancel-button,
.search_line ::-webkit-search-decoration,
.search_line ::-webkit-search-results-button,
.search_line ::-webkit-search-results-decoration {
  display: none;
}

.search_line::-webkit-search-clear-button {
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  display: none;
}/*# sourceMappingURL=style.css.map */